<!DOCTYPE HTML>
<!--
	Escape Velocity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Codename Adam</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets_escape_velocity/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">

					<!-- Logo -->
						<div id="logo">
							<h1><a href="/">Codename Adam</a></h1>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li>
									<a href="/menu">Menu</a>
									<ul>
										<li><a href="/popular-dishes">Most Popular</a></li>
										<li><a href="/appetizers">Appetizers</a></li>
										<li><a href="/entrees">Entrees</a></li>
										<li><a href="/drinks">Drinks</a></li>
										<li><a href="/desserts">Desserts</a></li>
									</ul>
								</li>
								<li><a href="/recommend-me">Recommend Me</a></li>
								<li><a href="/cart">Cart</a></li>
								<li><a href="/reserve">Reserve</a></li>
								<li><a href="#">Your Profile</a></li>
							</ul>
						</nav>

				</section>

			<!-- Main -->
				<section id="main" class="wrapper style3">
					<div class="title">Reservation Form</div>
					<div class="container">

						<!-- Features -->
							<section id="features">
								<div class="feature-list">
									<div class="row">
										<div class="aln-center">
											<section>
												<!-- RESERVATION FORM -->
												<form method="post" action="/submit-reservation">
													<div class="row">
														<div class="col-6 col-12-medium">
															<p>
																<strong>Name:</strong>
															</p>
														</div>
														<div class="col-6 col-12-medium">
															<input type="text" name="name" id="reservation-name" placeholder="Name" />
														</div>
													</div>
													<br>
													<div class="row">
														<div class="col-6 col-12-medium">
															<p>
																<strong>Date:</strong>
															</p>
														</div>
														<div class="col-6 col-12-medium">
															<input type="date" name="date" id="reservation-date" value="2019-1-1" />
														</div>
													</div>
													<br>
													<div class="row">
														<div class="col-6 col-12-medium">
															<p>
																<strong>Time:</strong>
															</p>
														</div>
														<div class="col-6 col-12-medium">
															<input type="time" name="time" id="reservation-time" value="13:30" />
														</div>
													</div>
													<div class="row">
														<div class="col-6 col-12-medium">
															<p>
																<strong>How many people are you reserving for?</strong>
															</p>
														</div>
														<div class="col-6 col-12-medium">
															<input type="text" name="numpeople" id="reservation-size" placeholder="#" />
														</div>
													</div>
													<button type="submit">Submit Reservation</button>
												</form>
											</section>
										</div>
									</div>
								</div>
							</section>

					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="assets_escape_velocity/js/jquery.min.js"></script>
			<script src="assets_escape_velocity/js/jquery.dropotron.min.js"></script>
			<script src="assets_escape_velocity/js/browser.min.js"></script>
			<script src="assets_escape_velocity/js/breakpoints.min.js"></script>
			<script src="assets_escape_velocity/js/util.js"></script>
			<script src="assets_escape_velocity/js/main.js"></script>

	</body>
</html>