<!DOCTYPE HTML>
<!--
	Escape Velocity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%- include head.ejs %>

	<!-- Jimmy worked on this -->

	<body class="homepage is-preload">

		<div id="page-wrapper">

			<!-- Main -->
			<section id="main" class="wrapper style3">
				<div class="title">Reservation Form</div>
				<div class="container">
					<!-- Features -->
					<section id="features">
						<div class="feature-list">
							<div class="row">
								<div class="col-12 aln-center">
									<section>
										<!-- RESERVATION FORM -->
										<form method="post" action="/submit-reservation">
											<% if(success == "true"){ %>
												<div class="col-12" align="center" id="reservation-status">
													<button class="style3" disabled>Reservation Successful!</button><br><br>
												</div>
											<% } %>
											<% if(success == "false"){ %>
												<div class="col-12" align="center" id="reservation-status">
													<button class="style1" disabled>Reservation Failed</button><br><br>
												</div>
											<% } %>
											<div class="row">
												<div class="col-4 col-12-medium">
													<p>
														<strong>Name:</strong>
													</p>
												</div>
												<div class="col-8 col-12-medium">
													<input type="text" name="name" id="reservation-name" placeholder="Name" />
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-4 col-12-medium">
													<p>
														<strong>Date:</strong>
													</p>
												</div>
												<div class="col-8 col-12-medium">
													<input type="date" name="date" id="reservation-date" />
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-4 col-12-medium">
													<p>
														<strong>Time:</strong>
													</p>
												</div>
												<div class="col-8 col-12-medium">
													<select name="time" id="reservation-time">
														<option selected disabled hidden>Select a date first</option>
													</select>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-4 col-12-medium">
													<p>
														<strong>Party Size:</strong>
													</p>
												</div>
												<div class="col-8 col-12-medium">
													<input type="number" name="numpeople" id="reservation-size" min="1" max="12" />
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-12" align="center">
													<button class="style3" type="submit">Submit Reservation</button>
												</div>
											</div>
										</form>
									</section>
								</div>
							</div>
						</div>
					</section>
				</div>
			</section>
		</div>
		
		<script>
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();
			if(dd<10){
				dd='0' + dd
			} 
			if(mm<10){
				mm='0' + mm
			} 

			today = yyyy + '-' + mm + '-' + dd;
			$("#reservation-date").attr("min", today);

			$("#reservation-date").change(function() {
				var hours = <%-JSON.stringify(hours) %>;
				var cleaned = <%-JSON.stringify(cleaned) %>;
				var open = [];
				for (var i = 0; i < hours.length; i++) {
					var time1 = new Date($("#reservation-date").val() + " " + hours[i]);
					var time2 = new Date("01/01/1970 1:00 AM");
					var conflict = false
					for (var j = 0; j < cleaned.length; j++) {
						time2 = new Date(cleaned[j].date + " " + cleaned[j].time);
						var diff = time1 - time2
						if (diff > -3600000 && diff < 3600000) {
							conflict = true
							break
						}
					}
					if (!conflict)
						open.push(hours[i])
				}

				$('#reservation-time').children('option').remove();

				if (open.length == 0) {
					$('#reservation-time').append($('<option selected disabled hidden>', {
						selected: true,
						disabled: true,
						text: "No reservation slots available for this date."
					}));
				} else {
					$('#reservation-time').append($('<option>', {
						selected: true,
						disabled: true,
						text: "Select a time."
					}));
				}

				for (var i = 0; i < open.length; i++) {
					$('#reservation-time').append($('<option>', {
						value: open[i],
						text: open[i]
					}));
				}
			});
		</script>
	
	</body>
</html>