@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Lens by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Header */

	#header {
		@include padding(3em, 2.25em);

		h1 {
			font-size: 2.25em;
			font-weight: _font(weight-bold);
		}
	}